* {
    margin: 0;
    font-family: "Roboto";
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    background-color: #F0EAD2;
}

.container .sidebar {
    display: grid;
    grid-template-rows: 50px 2fr 5fr;
    background-color: #ADC178;
    border-color: #ADC178;
    border-style: solid;
    color: white;
    padding: 5px;
    gap: 30px;
}

.dashboard {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dashboard img {
    width: 40px;
    height: 40px;
}

.dashboard p {
    display: inline;
    font-size: 30px;
}

.menu-one ul {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    list-style: none;
    padding: 0;
    margin-left: 10px;
}

.menu-one li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 0;
    cursor: pointer;
    font-size: 20px;
}

.menu-two ul {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    list-style: none;
    padding: 0;
    margin-left: 10px;
    cursor: pointer;
}

.menu-two li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 0;
    cursor: pointer;
    font-size: 20px;
}

.menu-one img {
    width: 20px;
    height: 20px;
}

.menu-two img {
    width: 20px;
    height: 20px;
}

.main {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: #F0EAD2;
    height: 180px;
}

.header .first-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 10px;
}

.search {
    display: flex;
    gap: 15px;
    padding: 20px;
    align-items: center;
    margin-left: 20px;
}

.search img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.search-bar {
    width: 100%;
    max-width: 1600px;
    height: 20px;
    background-color: #DDE5B6;
    border: solid #DDE5B6;
    border-radius: 10px;
}

.user-corner {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
    margin-right: 80px;
}

.notification {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.user-picture {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.user-at {
    font-size: 25px;
}

.user-name {
    font-size: 20px;
}

.header .second-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-info {
    display: grid;
    grid-template-columns: 85px 2fr;
    padding: 10px;
    margin-left: 40px;
}

.profile-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-info img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

.buttons {
    margin-top: 30px;
    display: flex;
    justify-content: end;
    gap: 40px;
    margin-right: 70px;
}

button {
    width: 100px;
    height: 43px;
    background-color: #6C584C;
    border: solid #6C584C;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #DDE5B6;
}

.body .projects {
    display: grid;
    grid-template-rows: 20px 5fr;
    padding: 20px;
    margin-top: 10px;
}

.projects .project-names {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
    margin-top: 10px;
}

.super-cool, 
.less-cool,
.impossible-app,
.easy-peasy-app,
.ad-blocker,
.money-maker {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F0EAD2;
    border-radius: 10px;
    margin: 0;
    position: relative;
    overflow: hidden;
    padding: 25px 20px 20px 25px;
}

.body .announcements-trending {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.project-corner {
    background-color: #ADC178;
    width: 12px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
    padding: 0;
}

.project-summary {
    font-weight: 500;
    color: #6C584C;
}

.project-links img{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    cursor: pointer;
}

.project-links {
    display: flex;
    align-self: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.announcements {
    display: grid;
    background-color: orange;
    border-color: orange;
    grid-template-rows: 20px 1fr;
}

.announcement {
    display: flex;
    flex-direction: column;
}

.body .trending {
    display: grid;
    grid-template-rows: 20px 1fr;
    background-color: dodgerblue;
    border-color: dodgerblue;
}

.accounts {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
}

.account {
    display: flex;
}
