* {
    margin: 0;
    font-family: "Roboto";
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.container .main {
    background-color: red;
    border-color: red;
    border-style: solid;
}

.container .sidebar {
    display: grid;
    grid-template-rows: 50px 2fr 5fr;
    background-color: #ADC178;
    border-color: #ADC178;
    border-style: solid;
    color: white;
    padding: 5px;
    gap: 20px;
}

.dashboard {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dashboard img {
    width: 40px;
    height: 40px;
}

.dashboard p {
    display: inline;
    font-size: 20px;
}

.menu-one ul {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    list-style: none;
    padding: 0;
    margin-left: 10px;
}

.menu-one li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 0;
}

.menu-two ul {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    list-style: none;
    padding: 0;
    margin-left: 10px;
}

.menu-two li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 0;
}

.menu-one img {
    width: 20px;
    height: 20px;
}

.menu-two img {
    width: 20px;
    height: 20px;
}

.main {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.header .first-row {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 2fr;
}

.header .second-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.buttons {
    display: flex;
}

.body {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.body .projects {
    display: grid;
    grid-template-rows: 20px 5fr;
}

.projects .project-names {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
}

.super-cool, 
.less-cool,
.impossible-app,
.easy-peasy-app,
.ad-blocker,
.money-maker {
    background-color: blueviolet;
    border-color: blueviolet;
    border-style: solid;
}

.body .announcements-trending {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcements {
    display: grid;
    background-color: orange;
    border-color: orange;
    grid-template-rows: 20px 1fr;
}

.announcement {
    display: flex;
    flex-direction: column;
}

.body .trending {
    display: grid;
    grid-template-rows: 20px 1fr;
    background-color: dodgerblue;
    border-color: dodgerblue;
}

.accounts {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
}

.account {
    display: flex;
}
